<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>{{titulo}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card>
  <ion-header>
    <ion-toolbar>
      <ion-card-subtitle> Fecha: {{fecha}}</ion-card-subtitle>
    </ion-toolbar>
  </ion-header>
</ion-card>

<ion-card>
  <ion-card-content>
    Este es el listado de sus cursos :
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item *ngFor = "let curso of cursos">
    <ion-label >
      <h2>ID: {{curso.id}}</h2>
      <h2>Nombre: {{curso.nombre}}</h2>
      <h2>Curso: {{curso.codigo}}</h2>
      <h2>seccion: {{curso.seccion}}</h2>
    </ion-label>
      <ion-button class="custom-green-button" fill="outline" slot="end"(click)="verDetalle(curso.nombre,curso.id, curso.codigo,curso.seccion)">
        ver detalles
      </ion-button>
  </ion-item>
</ion-list>




</ion-content>

