<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>paginaPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">asignatura</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card >
    <ion-card-header>
      <ion-card-title>PVC xxxx-xxx</ion-card-title>
      <ion-card-subtitle>Programación web</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-item>
    <img src="assets/images.png" alt="Código QR">
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>
        <div class="alumnos-lista">
          <div>Pepito Lara Ausente</div>
          <div>Pepito Lara Ausente</div>
          <div>Pepito Lara Ausente</div>
          <div>Pepito Lara Ausente</div>
          <div>Pepito Lara Ausente</div>
          <div>Pepito Lara Ausente</div>
          <div>Pepito Lara Ausente</div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

