.custom-button {
  --background: #4CAF50; /* Fondo verde */
  --border-color: #000; /* Bordes negros */
  --color: #fff; /* Texto blanco */
  --padding-start: 0.5rem; /* Espaciado interno opcional */
  --padding-end: 0.5rem; /* Espaciado interno opcional */
  border: 2px solid #000; /* Bordes negros */
  color: #fff !important; /* Asegúrate de que el texto sea blanco */
}

.qr-modal {
  --width: 80%; /* Ajusta el tamaño del modal si es necesario */
  --height: 80%;
  --border-radius: 12px;
}
