.custom-header {
  background-color: #4CAF50; /* Fondo verde */
  color: black;
  font-weight: bold;
}

.app-name {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.highlight {
  color: black;
  font-weight: normal;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

/* Nuevo estilo para el título de saludo */
.greeting-title {
  color: black;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Aquí se asegura que los botones se expandan al ancho completo */
.menu-button {
  --background: #e0e0e0; /* Color de fondo gris claro */
  --color: black;
  --border-radius: 10px;
  --padding: 10px;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
  width: 90%; /* Todos los botones tendrán el 90% del ancho del contenedor */
  max-width: 400px; /* Establece un ancho máximo si lo prefieres */
}

.menu-button ion-icon {
  font-size: 1.5em;
}

.open-site-button {
  --background: #e0e0e0;
  --color: black;
  --border-radius: 10px;
  font-size: 1.2em;
  margin-top: 20px;
}




.custom-header {
  --background: #28a745; /* Verde */
  --color: black;        /* Texto en negro */
  font-weight: bold; /* Negrita */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-header ion-title {
  font-weight: bold;     /* Pone el texto en negrita */
  font-size: 1.2rem;     /* Ajusta el tamaño de la fuente según tu preferencia */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}
