ion-item img {
  width: 300px;  /* Ajusta el tamaño según sea necesario */
  height: 300px; /* Ajusta el tamaño según sea necesario */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  display: block; /* Hace que la imagen sea un bloque para que el margen funcione */
}

