<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>escaneado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">escaneado</ion-title>
      
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content>
<img class="center-image" id="user" src="assets/presente.png"style="height: 15rem; display: flex;">
    <ion-button [routerLink]="['/home']">
     ir a la pagina principal 
    </ion-button>
</ion-content>