<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="custom-item">
    <img id="user" src="assets/appsistencia-logo.png" class="logo-image">
  </ion-item>

  <form [formGroup]="usuarioForm" (ngSubmit)="navegarExtras()">

    <ion-item>
      <ion-input label="User" labelPlacement="floating" placeholder="User" formControlName="user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" label="Pass" labelPlacement="floating" placeholder="Pass" formControlName="pass"></ion-input>
    </ion-item>

    <ion-button class="custom-button" expand="block"  (click)="navegarExtras()" fill="solid">Entrar</ion-button>



  </form>
</ion-content>
