<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item class="custom-item">
    <img id="user" src="assets/appsistencia-logo.png" class="logo-image">
  </ion-item>

  <form [formGroup]="usuarioForm">

    <ion-item>
      <ion-input label="{{textUser}}" labelPlacement="floating" placeholder="{{desUser}}" formControlName="user"></ion-input>

    </ion-item>

    <ion-item>
      <ion-input label="{{textPass}}" type="password" labelPlacement="floating" placeholder="{{desPass}}" formControlName="pass"></ion-input>

    </ion-item>

    <ion-button class="custom-button" expand="block" [disabled]="!usuarioForm.valid"  (click)="apiLogin()" fill="solid">{{ingresar}}</ion-button>

    <ion-item>
      <p>¿Olvidó su Contraseña?</p> <a [routerLink]="['/restablecer']" id="olvido">Restablecer</a>
    </ion-item>

  </form>
</ion-content>
