<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>Detalles del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="center-card">
    <ion-header>
      <ion-toolbar>
        <img [src]= "qrDataURL" *ngIf= "qrDataURL" class="qr-image">
        <ion-title>Curso: {{nombreCurso}}</ion-title>
        <ion-card-subtitle>ID Curso: {{idCurso}}</ion-card-subtitle>
      </ion-toolbar>
    </ion-header>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col><strong>RUT</strong></ion-col>
      <ion-col><strong>Nombre</strong></ion-col>
      <ion-col><strong>Estado</strong></ion-col>
      <ion-col><strong>Prueba Circulo</strong></ion-col>
    </ion-row>

    <ion-row *ngFor= "let alumno of alumnos">
      <ion-col>{{alumno.id}}</ion-col>
      <ion-col>{{alumno.nombre}}</ion-col>
      <ion-col>{{alumno.status}}</ion-col>
      <ion-col>
        <!-- Círculo de estado -->
        <span [ngStyle]= "{'background-color': alumno.status === 1 ? 'green' : 'red'}" class="status-circle"></span>
        {{alumno.estado}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
