.custom-header {
  --background: #28a745; /* Verde */
  --color: black;        /* Texto en negro */
  font-weight: bold;     /* Negrita */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.custom-header ion-title {
  font-weight: bold;     /* Negrita */
  font-size: 1.2rem;     /* Tamaño de fuente */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

.custom-button, .green-button, .close-button {
  --color: white;          /* Texto blanco */
}

.custom-button {
  --background: #4CAF50;   /* Fondo verde */
  --border-color: #000;     /* Bordes negros */
  --padding-start: 0.5rem;  /* Espaciado interno opcional */
  --padding-end: 0.5rem;    /* Espaciado interno opcional */
  border: 2px solid #000;   /* Bordes negros */
  color: #fff !important;    /* Asegúrate de que el texto sea blanco */
}

.green-button {
  --background: #28a745;    /* Fondo verde */
  border: none;              /* Sin bordes */
  margin-top: 10px;         /* Margen superior */
}

.close-button {
  --background: #28a745;     /* Fondo verde */
  margin: 5px;               /* Espaciado para el botón de cerrar */
  margin-top: 20px;          /* Espacio arriba del botón */
}

ion-card-header {
  display: flex;                    /* Usa Flexbox para alinear elementos */
  justify-content: space-between;   /* Espacio entre los elementos */
  align-items: center;              /* Centra verticalmente los elementos */
  padding: 16px;                    /* Espaciado alrededor */
}

ion-card-subtitle {
  margin-left: 16px;               /* Espaciado a la izquierda del subtítulo */
  font-size: 0.9rem;               /* Tamaño de la fuente */
  color: #666;                     /* Color del subtítulo */
}

.center-card {
  margin: auto;
  text-align: center;
}

.status-circle {
  width: 20px;                       /* Ajusta el tamaño del círculo */
  height: 20px;
  border-radius: 50%;                /* Hace que el span sea un círculo */
  margin-left: 10px;                 /* Espacio entre el círculo y el texto */
  display: inline-block;              /* Asegúrate de que el span se muestre como un bloque en línea */
}
