<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>Detalles del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="center-card">
    <ion-header>
      <ion-toolbar>
        <ion-title>Curso: {{nombreCurso}}</ion-title>
        <ion-card-subtitle>ID Curso: {{idCurso}}</ion-card-subtitle>
      </ion-toolbar>
    </ion-header>
    <div class="qr-button-container">
      <ion-button class="green-button" (click)="openQRModal()">Mostrar QR</ion-button>
    </div>
  </ion-card>

  <!-- Ion modal para el QR -->
  <ion-modal
    [isOpen]="isQRModalOpen"
    (didDismiss)="closeQRModal()"
    backdropDismiss="true"
    cssClass="qr-modal"
  >
    <ng-template>
      <ion-content (click)="closeQRModal()" class="qr-modal-content">
        <div class="qr-image-container">
          <img
            src="assets/images.png"
            alt="Código QR Ampliado"
            class="qr-image"
          >
        </div>
        <ion-button expand="full" (click)="closeQRModal()" class="close-button">
          Cerrar
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>
        <h5>Rut: {{alumno.rut}}</h5>
        <h5>Nombre: {{alumno.nombre}}</h5>
        <h5>Estado: {{alumno.estado}}</h5>
      </ion-label>
      <div class="status-circle" [ngClass]="{'present': alumno.estado === 'presente', 'absent': alumno.estado === 'ausente'}"></div>
    </ion-item>
  </ion-list>
</ion-content>
