<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>Detalles del Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="center-card">
    <ion-header>
      <ion-toolbar>
        <img [src]="qrDataURL" *ngIf="qrDataURL" class="qr-image">
        <ion-title>Curso: {{nombreCurso}}</ion-title>
        <ion-card-subtitle>ID Curso: {{idCurso}}</ion-card-subtitle>
      </ion-toolbar>
    </ion-header>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>
        <h5>Rut: {{alumno.rut}}</h5>
        <h5>Nombre: {{alumno.nombre}}</h5>
        <h5>Estado: {{alumno.estado}}</h5>
      </ion-label>
      <div class="status-circle" [ngClass]="{'present': alumno.estado === 'presente', 'absent': alumno.estado === 'ausente'}"></div>
    </ion-item>
  </ion-list>
</ion-content>
