<ion-header [translucent]="true">
  <ion-toolbar class="custom-header">
    <ion-title>Appsistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Sección de asistencias -->
  <div class="asistencias-section">
    <h2 >Toma de asistencia</h2>
    <ion-list>
      <ion-item>
        <ion-label>
          <h3>Calidad</h3>
          <p>Alumnos: 30</p>
        </ion-label>
        <ion-button class="custom-button" [routerLink]="['/qrcode']" slot="end"> Mostrar </ion-button>
      </ion-item>

      <!-- Más filas de asistencias -->
      <ion-item>
        <ion-label>
          <h3>POO</h3>
          <p>Alumnos: 28</p>
        </ion-label>
        <ion-button  class="custom-button" [routerLink]="['/qrcode']" slot="end">Mostrar</ion-button>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Software</h3>
          <p>Alumnos: 29</p>
        </ion-label>
        <ion-button class="custom-button" [routerLink]="['/qrcode']" slot="end">Mostrar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>Ingenería</h3>
          <p>Alumnos: 32</p>
        </ion-label>
        <ion-button class="custom-button" [routerLink]="['/qrcode']" slot="end">Mostrar</ion-button>
      </ion-item>

    </ion-list>
  </div>

<ion-button  class="custom-button" [routerLink]="['/loginpage']" style="display: flex; justify-content: center;">
  cerrar sesion</ion-button>
</ion-content>

