<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido: Alumno Pepito </ion-title>
    <ion-title>Fecha : xx/xx/xxxx </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil-alumno</ion-title>
         </ion-toolbar>
  </ion-header>
  <ion-item>
    <img src="https://cdn1.iconfinder.com/data/icons/qr-code-1/765/qr_code_scanner_mobile_hand-512.png" alt="QR Code" button (click)="setOpen(true)">
    <ion-alert
  [isOpen]="isAlertOpen"
  header="Mensaje :"
  message="Ya estas presente !"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
></ion-alert>
  </ion-item>

</ion-content>
